{% extends "base.html.twig" %}

{% block body %}
    <a class="nav-link" href="{{ path('request list') }}"><-- назад</a>
    <table class="table table-hover table-striped">
        <tbody>
        <tr>
            <td class="table-primary">Идентификатор</td>
            <td>{{ request_data.id }}</td>
        </tr>
        <tr>
            <td class="table-primary">Заголовок</td>
            <td>{{ request_data.title }}</td>
        </tr>
        <tr>
            <td class="table-primary">Сообщение</td>
            <td>{{ request_data.message }}</td>
        </tr>
        <tr>
            <td class="table-primary">Статус</td>
            <td>{{ request_data.status }}</td>
        </tr>
        <tr>
            <td class="table-primary">Дата создания</td>
            <td>{{ request_data.createdAt.format("Y-m-d") }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}